[submodule "data/husky_urdf"]
	path = data/husky_urdf
	url = git@gitlab.inf.ethz.ch:crl/husky_urdf.git
[submodule "ext/crl-husky"]
	path = ext/crl-husky
	url = git@gitlab.inf.ethz.ch:crl/robot-control/crl-husky.git
[submodule "ext/tracikpy"]
	path = ext/tracikpy
	url = https://github.com/mjd3/tracikpy.git
[submodule "ext/pddlstream"]
	path = ext/pddlstream
	url = https://github.com/yijiangh/pddlstream.git
[submodule "ext/FrameX"]
	path = ext/FrameX
	url = https://github.com/yijiangh/FrameX.git
