actionlib==1.14.0
angles==1.9.13
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
base_local_planner==1.17.3
black==24.4.2
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
cffi==1.16.0
click==8.1.7
commentjson==0.9.0
compas==2.3.0
compas-fab==1.0.2
compas-robots==0.4.0
constantly==23.10.4
contourpy==1.2.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cryptography==42.0.8
cv-bridge==1.16.2
cycler==0.12.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dynamic-reconfigure==1.7.3
fonttools==4.53.1
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gurobipy==11.0.3
hyperlink==21.0.0
idna==3.7
image-geometry==1.16.2
imageio==2.34.2
incremental==22.10.0
interactive-markers==1.12.0
jax==0.4.21
jaxlib==0.4.21
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kdtree==0.16
kiwisolver==1.4.5
lark-parser==0.7.8
laser_geometry==1.6.7
markdown-it-py==3.0.0
matplotlib==3.9.1
mbf_abstract_nav==0.4.0
mdurl==0.1.2
meshio==5.3.5
message-filters==1.16.0
ml-dtypes==0.4.0
moveit-commander==1.1.14
moveit-core==1.1.14
moveit-ros-planning-interface==1.1.14
moveit-ros-visualization==1.1.14
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.4
opencv-python==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.2.2
psutil==6.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybullet==3.2.6
-e git+ssh://git@github.com/yijiangh/pybullet_mocap.git@1e7b62b618b02fbc38f72198bf827bb53aa42c40#egg=pybullet_mocap
pybullet_planning @ git+https://github.com/yijiangh/pybullet_planning.git@23fc769e012c1e34cacfa65088e397787a4405aa
pycparser==2.22
Pygments==2.18.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
python-qt-binding==0.4.4
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
recordclass==0.22.0.3
referencing==0.35.1
resource_retriever==1.12.7
rich==13.7.1
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslibpy==1.7.0
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rospy_message_converter==0.5.9
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rpds-py==0.19.0
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rviz==1.14.25
scipy==1.14.0
sensor-msgs==1.13.1
service-identity==24.1.0
six==1.16.0
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
srdfdom==0.6.4
termcolor==2.4.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
tomli==2.0.1
topic-tools==1.16.0
tracikpy @ file:///home/jeong/summer_research/eth-crl-husky/pybullet_mocap/external/tracikpy
Twisted==24.3.0
txaio==23.1.1
typing_extensions==4.12.2
urdfdom-py==0.4.6
watchdog==4.0.1
xacro==1.14.18
zope.interface==6.4.post2
